<%- include('includes/head'); %>
<%- include('includes/navbar'); %>

<main class="content">
  <h1>Login</h1>
  <p>Faça um login ou crie sua conta abaixo</p>
  <table>
      <tr>
          <td>Junin</td>
          <td>fim</td>
          <td>33333</td>
          <td>email.com</td>
      </tr>
      <tr>
        <td>Junin</td>
        <td>fim</td>
        <td>33333</td>
        <td>email.com</td>
    </tr>
    </tab>

<%- include('includes/footer'); %>
